/* COMMON ELEMENTS */

nav.navbar-inverse {
	border-bottom: 2px solid #F1BE13;
	border-radius: 0;
	height: 50px;
	background-image: linear-gradient(to bottom,#594433 0,#2f241b 100%);
}

body {
	padding-top: 50px;
}

/* MAIN PAGE */