/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


nav.navbar-inverse {
	border-bottom: 2px solid #F1BE13;
	border-radius: 0;
	background-image: linear-gradient(to bottom,#594433 0,#2f241b 100%);
}

body {
    background-color: #A68C69;
}

div.tartalom {
  max-width: 1261px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #F0E5C9;
  background-image: url("karpatfejlec_aggtelek.jpg");
  padding-top: 150px;
  background-repeat: no-repeat;
  border: #F1BE13 solid 2px;
  border-radius: 20px;
}