/* COMMON ELEMENTS */nav.navbar-inverse {
	border-bottom: 2px solid #F1BE13;
	border-radius: 0;
	height: 50px;
	background-image: linear-gradient(to bottom,#594433 0,#2f241b 100%);
}

body {
	padding-top: 70px;
	background-color: #A68C69;
}

div#container {
	margin-left: 30px;
	margin-right: 30px;
}

div.tartalom, div.sidebar {
	background-color: #F0E5C9;
	border: #F1BE13 solid 2px;
  border-radius: 20px;
  padding: 30px;
}

div.sidebar {
	padding: 30px;
	max-width: 600px;
}

div.tartalom {
  max-width: 1261px;
  background-image: url("karpatfejlec_aggtelek.jpg");
  padding-top: 270px;
  background-repeat: no-repeat;
}

/* MAIN PAGE */