

<button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#main-page-hot-articles" ng-show="!!recentArticles">Legújabb cikkek</button>
<div id="main-page-hot-articles" class="main-page-group collapse in">
	<a ng-repeat="article in recentArticles" href="#!/cikk/{{article.url}}"><div class="badge">
		<img ng-src="{{article.img}}" alt="{{article.title}}" ng-if="{{article.img}}"> 
		{{article.title}}
	</div></a>
</div>


<button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#main-page-hot-comments">Legújabb hozzászólások</button>
<div id="main-page-hot-comments" class="main-page-group collapse in">
	<div class="comment" ng-repeat="comment in Dummy.COMMENTS">
		<img ng-src="{{gravatarize(comment.email)}}">
		{{comment.name}}, {{comment.date}}:<span class="pull-right link">{{comment.articleTitle}}<span class="glyphicon glyphicon-link"></span></span><br>
		<em>{{comment.text}}</em>
	</div>
</div>



<button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#main-page-images">Kategóriák</button>
<div id="main-page-images" class="row collapse in main-page-group">
	<div class="col-xs-12 col-sm-6 col-lg-4 main-page-image" ng-repeat="image in articleTypes">
    	<!--img ng-src="{{image.url}}" width="80%"-->
    	<h3 class="panel-title">{{image.title}}</h3>
  	</div>
</div>