

<button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#main-page-hot-articles">Legújabb cikkek</button>
<div id="main-page-hot-articles" class="collapse in">
	<a ng-repeat="article in Dummy.ARTICLE" href="{{article.url}}"><div class="badge">
		<img ng-src="{{article.img}}" alt="{{article.text}}">
		{{article.title}}
	</div></a>
</div>


<button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#main-page-hot-comments">Legújabb hozzászólások</button>
<div id="main-page-hot-comments">
	<div class="comment" ng-repeat="comment in Dummy.COMMENTS">
		<img ng-src="{{gravatarize(comment.email)}}">
		{{comment.name}}, {{comment.date}}:<br>
		<em>{{comment.text}}</em>
	</div>
</div>



<button type="button" class="btn btn-default btn-block" data-toggle="collapse" data-target="#main-page-images">Kategóriák</button>
<div id="main-page-images" class="row collapse in">
	<div class="col-sm-4" ng-repeat="image in Dummy.MAIN_IMG">
	<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">{{image.text}}</h3>
  </div>
  <div class="panel-body">
    <img ng-src="{{image.url}}" width="80%">
  </div>
</div>
</div>
</div>